# Kopiere diese Datei nach `.env` und trage deine lokalen Credentials ein.

DB_URL=jdbc:mariadb://localhost:3306/teller_statt_tonne?restrictedAuth=mysql_native_password,caching_sha2_password,ed25519
DB_USER=root
DB_PASSWORD=
